nav{
text-align: center;

}
li{
    font-size: 20px;
    color: black;
    display: inline-block;
  margin-right: 10px;
}   

main, h2{
    text-align: center ;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.campusCard{
   
   
    display: flex;
   
        border-style: inset;
        padding: 15px;
        background-color: rgb(255, 255, 255);
        text-align: center;
     
        margin: 10px;
        width: 400px;
        text-align: center;
        /* flex-direction: column; */
        border-radius: 20px;
        box-shadow: 0 5px 5px #9d0151;
        color: rgb(0, 0, 0);
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      
      
}

