.cabecalho{
    display: inline-block;
    align-items: center;
    display: flex;
    height: 130px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


   


.cabecalho h1{
    margin-top:0px
}